body {
    font-family: "Pretendard" "Noto Sans KR", serif;
}

/* ν—¤λ” */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #fff;
    z-index: 1;
}

.header .logo {
    font-size: 2rem;
    font-weight: 700;
}

.navbar .nav-list {
    display: flex;
    gap: 4rem;
}

.navbar .nav-link {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-bottom: 2px solid #000;
    transition: 0.5s;
    transform-origin: center;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* ν‘Έν„° */
.footer {
    padding: 150px 0;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.footer h3 {
    font-weight: 700;
}

.footer .copyright {
    padding: 20px;
    font-size: 12px;
    color: #818181;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
    .header {
        padding: 1.5rem;
    }

    .header .logo {
        font-size: 1.5rem;
    }

    .header .menu-icon button {
        width: 30px;
        height: 30px;
        background: url("/assets/icon-menu.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header .menu-icon button.on {
        background: url("/assets/icon-close.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar {
        display: none;
    }

    .navbar.on {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    .navbar.on .nav-list {
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
    }

    section {
        padding: 10rem 5%;
    }

    .footer {
        padding: 100px 0;
        font-size: 3rem;
    }
}
